# GITIGNORE

#Server administration files
banned-ips.json
banned-players.json
defaultconfigs/**
ops.json
scripts/**
server-icon.png
server.properties
usercache.json
usernamecache.json
whitelist.json
world/**
playerdata/**

#Files too big
mods/TheBetween*

#Log files
**.log
crash-reports/**
logs/**
.mixin**


#Forge Server files
1.12.2.json
1.14.4.json
OpenComputersMod-1.7.5.192-lua53-native.64.so
eula.txt
libraries/**
llibrary/**
minecraft_server.1.12.2.jar
minecraft_server.jar
